# {{ ansible_managed }}

version: '3.4'

configs:
  producer_properties:
    file: ./producer.override.properties
     

services:
  producer:
    image: localhost:5000/producer
    environment:
      NEW_RELIC_LICENSE_KEY: {{ new_relic_license_key }}
    configs:
      - source: producer_properties
        target: /var/webapp/config/producer.override.properties
    deploy:
      replicas: {{ 2 + groups['kafkabrokers'] | length  }}