[Unit]
Description=Apache Kafka
After=network.target network-online.target remote-fs.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
Environment="LOG_DIR={{ kafka_log_dir }}"
ExecStart={{ kafka_home }}/bin/kafka-server-start.sh {{ kafka_properties_file }}
ExecStop={{ kafka_home }}/bin/kafka-server-start.sh
PIDFile=/var/run/kafka.pid

[Install]
WantedBy=multi-user.target